<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <listener>
        <listener-class>fr.javacnam.domotique.utils.MeteoScheduler</listener-class>
    </listener>
    <welcome-file-list>
        <welcome-file>Auth</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>fr.javacnam.domotique.servlets.Auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>fr.javacnam.domotique.servlets.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Configuration</servlet-name>
        <servlet-class>fr.javacnam.domotique.servlets.Configuration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/Auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Configuration</servlet-name>
        <url-pattern>/Configuration</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
